header {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #e89300;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}