nav {
  height: 10vh;
  width: 100vw;
  background-color:#4056A1;
  color:#FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
nav > span {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rightnav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .fa-solid{
  color: #eb0a0a;
}

